*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header, footer{
    background-color: rgb(29, 28, 40);
    padding: 16px 0;
    display: flex;
    border-bottom: 8px solid rgb(120, 123, 121);
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    margin-bottom: 40px;
}

footer{
    margin-top: 40px;
    margin-bottom: 0;
    border-bottom: 0;

}

.container{
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    

}

form {

    background-color: rgb(215, 209, 209);
    padding-bottom: 24px;
    padding: 30px ;
    border-radius: 10px;
    border: 5px solid silver;
 
}

form h2{
    
    margin-bottom: 16px;
    background-color: wheat;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    
}

input, button {
    padding: 8px;
}

button {
    background-color: rgb(79, 93, 78);
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.campo-form{
    padding-bottom: 16px;
}
.campo-form label{
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.campo-form input{
    width: 100%;
}
/*Muda a cor da mensagem de erro de todos*/
.error {
    color: rgb(28, 50, 126);
    font-style: italic;
    
}

/*Muda a cor da mensagem de erro apenas do input cpf*/
#cpf-error {
    color: red;
}
    



