@use 'config/reset';
@use 'config/variaveis';
@use 'sass:math';

@mixin elementoForm($margin: 16px){
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom: $margin;
}

@function pixelParaEm($alvoEmPixel, $contextoEmPixel: 16px){
    @return math.div($alvoEmPixel, $contextoEmPixel)+em;
    }

body{
    background-color: variaveis.$corDeFundo;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #182C61;
    position: sticky;
    top: 0;
    left: 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        .menu{
            display: flex;
        }
            li{
            list-style: none;
            font-weight: bold;
            margin-left: 24px;

            }
                a{
                    color: #fff;
                    text-decoration: none;
                }
       
    }
}

@media screen and (max-width: variaveis.$mobile){
    .container{
        max-width: 80%;
        font-size: 12px;
    }
}

